{% extends "base.html" %}
{% block body %}

{% for booking in bookings %}
<div class="col-md-6 mb-4 event-card">
    <div class="card">
        <img src="{{ url_for('static', filename='images/' + bookings.image) }}" class="card-img-top" alt="Event Image">
        <div class="card-body">
            <h5 class="card-title">{{ Booking.Event.name }}</h5>
            <p class="card-text">Booking ID: {{ Booking.booking_id }}</p>
            <p class="card-text">Booked on: {{ Booking.created_at }}</p>
            <p class="card-text">Booked on: {{ Booking.price }}</p>
            <p class="card-text">Booked on: {{ Booking.quantity }}</p>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}