{% extends 'base.html' %}

{% block header %}
    <!-- Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4500">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <a href="index.html" class="carousel-link">
                <div class="carousel-item active c-item">
                    <img src="images/concert1.jpg" class="d-block w-100 c-img" alt="concert1">
                    <div class="carousel-caption top-0 mt-5 d-none d-md-block">
                        <p class="mt-5 fs-3 text-uppercase">Discover new and exciting Events</p>
                        <h1 class="display-1 fw-bolder text-capitalize">ConcertCove</h1>
                        <a href="#upcoming-events"> <button class="btn btn-primary px-4 py-2 fs-5 mt-5 carousel-link">Discover Events</button> </a>
                      </div>            
                </div>
            </a>
            <a href="create.html" class="carousel-link">
                <div class="carousel-item c-item">
                    <img src="images/concert2.jpg" class="d-block w-100 c-img" alt="concert2">
                    <div class="carousel-caption top-0 mt-5 d-none d-md-block">
                        <p class="mt-5 fs-3 text-uppercase">Create your very own Events</p>
                        <h1 class="display-1 fw-bolder text-capitalize">ConcertCove</h1>
                        <button class="btn btn-primary px-4 py-2 fs-5 mt-5">Create an Event</button>
                      </div> 
                </div>
            </a>
            <a href="ED&Bpage.html" class="carousel-link">
                <div class="carousel-item c-item">
                    <img src="images/concert3.jpg" class="d-block w-100 c-img" alt="concert3">
                    <div class="carousel-caption top-0 mt-5 d-none d-md-block">
                        <p class="mt-5 fs-3 text-uppercase">Book and purchase tickets for your favourite artists</p>
                        <h1 class="display-1 fw-bolder text-capitalize">ConcertCove</h1>
                        <button class="btn btn-primary px-4 py-2 fs-5 mt-5">Book Now</button>
                      </div> 
                </div>
            </a>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 id ="upcoming-events">Upcoming Events</h2>
    <div class="row row-cols-1 row-cols-md-5 g-4">
        <div class="col">
        {% for event in events %}
            <a href= "{{ url_for('event.show', id=event.id) }}" class="card-link card-open">
                <div class="card h-100">
                    <img src="{{ event.image }}" class="card-img-top" alt="artist picture">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.name }}</h5>
                        <div class="card-status text-white">
                            <h6>Status: <span class="status-text">{{ event.status }}</span></h6>
                          </div>
                          <div class="card-genre text-white">
                            <h6>Genre: <span class="genre-text">{{ event.genre }}</span></h6>
                          </div>
                        <p class="card-text">{{ event.description }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
{% endblock %}